DEMETER_PREPROD_KUPO="https://dmtr_kupo2QG3iP1TXsH7MGA4Un68KuGPcf57MFxszTWszKjnkhR.preprod-v2.kupo-m1.demeter.run"
DEMETER_PREPROD_OGMIOS="https://dmtr_ogmios2QG3iP1TXsH7MGA4Un68KuGPcf57MFxszTWszKjnkhR.preprod-v6.ogmios-m1.demeter.run"
DEMETER_MAINNET_KUPO="https://kupo0vQ2kfjsu6ULYuV5H01A.mainnet-v2.kupo-m1.demeter.run"
DEMETER_MAINNET_OGMIOS="https://ogmios0vQ2kfjsu6ULYuV5H01A.mainnet-v6.ogmios-m1.demeter.run"
S2_POLICY_ID_MAINNET="ea99797a6a02abf111282ad0797a8006bdeafc6c8560cb570151d575"
WALLET_SEED="seed phrase"